body {
    min-height: 100vh;
    font-family: 'Calisto MT', 'Cambria', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "container container container"
        "footer footer footer";
}

header, footer{   
    background-color: rgb(216, 233, 238);
    color: #85ca87;
    text-align: center;   
    padding: 5px;
}
.container {
    grid-area: container;
    width: 90%;
    align-self: center;
    justify-self: center;
}
.footer {
    grid-area: footer;
    padding: 5px;    
}
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "logo titulo titulo . ."
        "logo titulo titulo . ."
        "logo titulo titulo nav nav";
}
.logo{
    grid-area: logo;
    max-height: 100px;
    margin: 5px;
    align-self: center;
    justify-self: center;
    width: fit-content;
    
}
.titulo{
    grid-area: titulo;
    max-width: 400px;
    max-height: 40px;
    font-size: 2.3rem;
    align-self: center;
    justify-self: center;
}
nav {
    grid-area: nav;
    border-radius: 10px;
    justify-self: center;    
}

nav ul {
    width: 100%;    
    justify-content: space-around; 
}
nav ul li {
	       min-width: 130px;
}

header nav ul li a:hover {
	background-color: rgb(216, 233, 238);
	font-family: broadway, arial;
    border-radius: 10px;
    
}

#redes_sociales ul{
	display: flex;
	justify-content: center;
	margin: 5px;
	padding: 0;
	list-style-type: none;
}

#redes_sociales ul li a {
	display: block;
	width: 30px;	
	margin: 5px;
}

#redes_sociales ul li a img {
	width: 100%;
}

#contacto p {
    margin: 5px;
    font-size: 0.9rem;
}



/* estilos tarjetas medicos */

.medicosDisponibles {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    border: 2px dashed #70d40c;
    padding: 10px;    
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}




/*////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// MEDIA QUERIES /////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////*/



/* media para medianos */
@media all and (min-width: 600px) and (max-width: 1023px){
    .header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "logo titulo titulo"                   
            "nav nav nav";
    }
    .logo{
        max-height: 80px;        
    }
    
    nav{
        width: 100%;
    }
    
}

/* media para movil */

@media all and (max-width: 599px){
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "logo logo"
            "titulo titulo"            
            "nav nav";
    }
    .logo{
        max-height: 80px;        
    }
    .titulo{
        font-size: 1.5rem;
        justify-self: center;        
    }
    nav{        
        width: 100%;
    }
    nav ul li {
	       margin-top: 6px;
}
    
/* estilo de institucional */ 

}
.mision {
    background-color: rgb(216, 233, 238);
    justify-self: center;
    padding: 12px;
    border-radius: 15px;
    margin-top: 40px;
    text-align: justify;
        
}
.mision h2 {
    font-weight: bold;
}


/* estilos de contacto */
.contacto .card {
  background-color: #a2dfb8; 
  color: #ffffff;            
  border-radius: 8px;
}



